{% schema %}
{
  "name": "Gift Hero",
  "settings": [
    { "type": "image_picker", "id": "top_image", "label": "Top Image" },
    { "type": "image_picker", "id": "right_image", "label": "Right Image" },
    { "type": "image_picker", "id": "right_image_mobile", "label": "Mobile Image" },

    { "type": "text", "id": "heading", "label": "Heading" },
    { "type": "text", "id": "heading_mobile", "label": "Mobile Heading" },

    { "type": "textarea", "id": "desc", "label": "Description" },
    { "type": "textarea", "id": "desc_mobile", "label": "Mobile Description" },

    { "type": "text", "id": "btn_text", "label": "Button Text" },
    { "type": "text", "id": "bottom_text", "label": "Bottom Strip Text" }
  ]
}
{% endschema %}

<section class="gift-hero">

  <!-- TOP IMAGE -->
  <div class="hero-top">
    <img src="{{ section.settings.top_image | img_url: 'master' }}" alt="">
  </div>

  <!-- BOTTOM SECTION -->
  <div class="hero-bottom">

    <!-- LEFT CONTENT -->
    <div class="hero-container">
      <div class="hero-content">

        <h1>
          {{ section.settings.heading_mobile | default: section.settings.heading }}
        </h1>

        <p>
          {{ section.settings.desc_mobile | default: section.settings.desc }}
        </p>

        <button class="btn">
          {{ section.settings.btn_text }}
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="12" viewBox="0 0 26 12" fill="none">
            <path d="M0.75 4.77298L24.75 4.77298M24.75 4.77298L20.5074 0.21968M24.75 4.77298L20.5074 9.76562" stroke="currentColor" stroke-width="1.5"/>
          </svg>
        </button>

      </div>
    </div>

    <!-- RIGHT IMAGE -->
    <div class="hero-image">
      <img 
        src="{{ section.settings.right_image_mobile | default: section.settings.right_image | img_url: 'master' }}" 
        alt=""
      >
    </div>

  </div>

  <!-- STRIP -->
  <div class="hero-strip">
    {{ section.settings.bottom_text }}
  </div>

</section>